<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Botplex</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>
<body>
<section class="section">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-4">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification">
                            <h2 class="subtitle">Archive metadata</h2>
                            <div class="content">
                                <p><label>Last full refresh: <span id="archive_last_refresh_date"></span></label></p>
                                <p><label>Last partial refresh: <span id="archive_last_partial_refresh_date"></span></label></p>
                                <p><label>In progress: <span id="archive_refresh_in_progress"></span></label></p>
                            </div>
                            <div class="field"><button id="refresh-archive-full" class="button is-primary">Refresh archive data (full)</button></div>
                            <div class="field"><button id="refresh-archive-partial" class="button is-primary">Refresh archive data (partial)</button></div>
                        </article>
                        <article class="tile is-child notification">
                            <h2 class="subtitle">Nugs metadata</h2>
                            <div class="content">
                                <p><label>Last full refresh: <span id="nugs_last_refresh_date"></span></label></p>
                                <p><label>In progress: <span id="nugs_refresh_in_progress"></span></label></p>
                            </div>
                            <button id="refresh-nugs" class="button is-primary">Refresh nugs data</button>

                        </article>
                    </div>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification">
                    <div class="content">
                        <p class="title">Recent Replies</p>
                        <table id="replies" class="table is-striped is-narrow">
                            <thead>
                                <tr>
                                    <th>Author</th>
                                    <th>Request</th>
                                    <th>Post Date</th>
                                    <th>Reply Date</th>
                                    <th>Post Type</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </article>
            </div>
        </div>

    </div>
</section>
</body>
<script>

    $(document).ready(function () {
        getMetadataStatus();
        getReplies();
    });

    $("#refresh-archive-full").on('click', function (event) {
       $.post('/refresh_all_archive_items');
    });

    $("#refresh-archive-partial").on('click', function (event) {
       $.post('/refresh_new_archive_items');
    });

    $("#refresh-nugs").on('click', function (event) {
       $.post('/refresh_nugs_items');
    });

    function getMetadataStatus() {
        $.getJSON('/metadata_status', function (data) {
            $.each(data['nugs'], function (key, value) {
                $("#nugs_" + key).text(value)
            });
            $.each(data['archive'], function (key, value) {
                $("#archive_" + key).text(value)
            })
        })

    }

    function getReplies(limit) {
        // var tbody = $("#replies tbody");
        $.getJSON(`/replies?limit=${limit}`, function (data) {
            $.each(data[0], function (idx, obj) {
                console.log(obj);
                var newRow = createReplyRow(obj);
                console.log(newRow);
                $("#replies tbody").append(newRow);
            })

        })
    }

    function createReplyRow(reply) {
        return `<tr>
                    <td>${reply.author}</td>
                    <td>${reply.request_date.substring(0, 10)}</td>
                    <td>${reply.post_date}</td>
                    <td>${reply.reply_date}</td>
                    <td>${reply.reply_type}</td>
                </tr>`
    }


</script>
</html>